<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla :: head">
        <title>Asobank</title>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div th:replace="layout/plantilla :: barraLateral"></div>


        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
                integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous"></script>
        <script src="../static/js/script.js" type="text/javascript"></script>
    </body>

</html>


