
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Asobank</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-5">
                        <div class="text-center">
                            <img class="" src="../images/Logo.png" alt="Asobank Logo" />
                        </div>
                        <div class="card-body mt-4">
                            <form th:action="@{/login}" method="post">
                                <div class="mb-4">
                                    <label for="username" class="form-label">[[#{mp.login.correo}]]</label>
                                    <input type="username" class="form-control" id="username" name="username" required>
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">[[#{mp.login.clave}]]</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" style="background-color: #6A1039" class="btn text-white w-100 mt-5">[[#{mp.login.button}]]</button>
                            </form>
                        </div>
                    </div>
                     <div th:if="${param.error != null}">
                        <h3>[[#{error.login}]]</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
                integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous"></script>
        <script src="script.js"></script> 
        <style>.foto-perfil {
            display: none
        }</style>
    </body>
</html>
