<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Asobank</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
         
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-5">
                        <div class="text-center">
                            <img class="" src="../images/Logo.png" alt="Asobank Logo" />
                        </div>
                        <div class="card-body mt-4">
                            <a th:href="@{/login}" class="text-decoration-none">
                                <i class="fas fa-arrow-left"></i> [[#{mp.accion.regresar}]]
                            </a>
                            <div class="mb-4">

                            </div>

                            <form method="POST" th:action="@{/usuario/recordarUsuario}" th:object="${usuario}" class="was-validated">
                                <div class="mb-4">
                                    <label for="username" class="form-label">[[#{mp.login.correo}]]</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>

                                <button type="submit" style="background-color: #6A1039" class="btn text-white w-100 mt-5">[[#{mp.recordar}]]</button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${param.error != null}">
                        <h3>[[#{error.login}]]</h3>
                    </div>
                </div>
            </div>
        </div>

     </body>
 </html>