<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Asobank</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="row py-2 justify-content-center">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header align-items-center">
                        HOLA1
                    </div>
                    <div class="card-body">
                        <strong>HOLA2</strong>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>