<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
    </head>

    <body>
        <!-- Sección para crear el botón de agregar y texto alineado a la izquierda -->
        <section th:fragment="botonesAgregar">
            <div class="contenidoTitulo"  >
                <div class="container d-flex justify-content-between align-items-center">
                    <span class="fs-2" style="color: #757575;" th:text="#{mp.credito.listado}"></span>
                    <button id="btnAgregar" type="button" class="btn text-white" style="background-color: #6A1039"
                            data-bs-toggle="modal" data-bs-target="#agregarCredito" sec:authorize="hasRole('ROLE_CLIENT')">
                        <i class="fas fa-plus"></i>[[#{mp.ahorro.agregar}]]
                    </button>
                </div>
            </div>
        </section>


        <!-- 3 Sección principal para mostrar la informaccion de la entidad credito -->
        <section th:fragment="listadoCredito" id="creditos">

            <div class="contenido">
                <div th:if="${creditos != null and !creditos.empty}">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>[[#{mp.credito.usuario.nombre}]]</th>
                                <th>[[#{mp.credito.descripcion}]]</th>
                                <th>[[#{mp.credito.monto_solicidato}]]</th>
                                <th>[[#{mp.credito.plazo}]]</th>
                                <th>[[#{mp.credito.monto_actual}]]</th>
                                <th>[[#{mp.credito.cuota}]]</th>
                                <th>[[#{mp.credito.tasa}]]</th>
                                <th>[[#{mp.credito.estado}]]</th>
                                <th>[[#{mp.credito.fecha_aprobacion}]]</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="credito, contador : ${creditos}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${credito.usuario.nombre}]]</td>
                                <td>[[${credito.descripcion}]]</td>
                                <td>[[${credito.montoSolicitado}]]</td>
                                <td>[[${credito.plazo}]]</td>
                                <td>[[${credito.montoActual}]]</td>
                                <td>[[${credito.cuota}]]</td>
                                <td>[[${credito.tasa}]]</td>
                                <td>[[${credito.estado}]]</td>
                                <td>[[${credito.fechaAprobacion}]]</td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <th:block th:if="${credito.estado == 0}">
                                        <a th:href="@{/credito/rechazar/}+${credito.idCredito}" class="btn text-white"
                                           style="background-color: #A4613A">
                                            <i class="fas fa-x"></i></a>
                                        <a th:href="@{/credito/aprobar/}+${credito.idCredito}" class="btn text-white"
                                           style="background-color: #313C61">
                                            <i class="fas fa-check"></i></a>
                                    </th:block>
                                    <th:block th:if="${credito.estado == 1}">
                                        <span class="badge text-bg-success">Aprobado</span>
                                    </th:block>
                                    <th:block th:if="${credito.estado == 2}">
                                        <span class="badge text-white" style="background-color: #A4613A;">Rechazado</span>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center p-2" th:if="${creditos == null or creditos.empty}">
                    <span>[[#{mp.lista.vacia}]]</span>
                </div>
            </div>
        </section>

    </body>

</html>